.calendar-container {
    max-width: 640px;
    margin: auto;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 10px 0;*/
    width: 300px;
}
.day {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
}

.selected-day {
    background-color: #124413; /* Bootstrap primary color */
    color: white;
    border-radius: 35px;
}

#yearSelect{
    width: 150px;
}

@media (max-width: 500px) {
  .cover {
      background-color: #FFFCEF;
  }
}

