.active {
    font-weight: bold;
    color: #124413; /* Or any color of your choice */
    background-color: yellowgreen;
}

/*.nav-link:hover{*/
/*    background-color: darkgray;*/
/*}*/

body{
    background-color:#FFFCEF;
    color: #276749 ;
}
.msg-err{
    text-align: center;
    color: red;
    font-weight: bold;
}
.msg-lout{
    text-align: center;
    color:#007bff;
    font-weight: bold;
}

.logo{
    width: auto; /* Adjust the size as needed */
    height: 4cm; /* Maintain aspect ratio */
}

input{
    width: 60%; /* Makes input take full width of its parent */
    padding: 8px;
    margin: 0; /* Adjust or remove if needed */
    display: block;
}

/* Basic Styling for Sidebar */
.sidebar {
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    width: 250px; /* Sidebar width */
    transition: all 0.3s; /* Smooth transition for toggling visibility */
    margin-left: -10px;

}

.sidebar-sticky {
    position: relative;
    top: 0px;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color:#F6AD55 ;
}

.nav-link:hover {
    background-color: green;
    color: wheat;
}

/* Active state */
.nav-item.active > .nav-link {
    color: #fff;
    background-color:#124413;
}

/* Sign Out Button */
.logoutBtn {
    width: 100%;
    margin-top: 1rem;

}
#customer-name{
    font-weight: bold;
    font-size: 30pt;
    padding: 0px 0 15px 0;
}

@media (max-width: 767.98px) {
    .sidebar {
        width: 100%;
        height: 1.2cm;
        position: relative; /* Change position for small devices */
        background-color:#F6AD55 ;
    }
    .sidebar-sticky {
        height: auto;
        top: 0;
        padding-top: 0;
    }
    .nav.flex-column {
        flex-direction: row;
        justify-content: space-around;
    }
    .nav-item {
        display: none; /* Initially hide items */
    }
    .nav-item.logoutBtn {
        display: block; /* Always show logout */
    }
    .nav-item.show {
        display: block; /* Show when toggled */
    }
}

/* Toggle button for small screens */
#sidebarToggle {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 767.98px) {
    #sidebarToggle {
        display: block;
    }
}