.card {
    border-radius: 10px; /* Rounded corners */
}

.card-body {
    position: relative;
    overflow: hidden;
}


.card img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
    opacity: 0.7; /* Make image fully opaque on hover */
}


.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(39, 103, 73, 0.85); /* Semi-transparent overlay */
    color: #fff;
    width: 100%;
    transform: translateY(+100%);
    transition: transform 0.5s ease;
    text-align: center;
    padding: 20px 0;
}

.card-body:hover .overlay {
    transform: translateY(0);
    cursor: pointer;
}
