<div class="col" th:fragment="expireTable">
  <h4 class="py-2">Product near expire date:</h4>
  <table id="expiresTable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Product ID</th>
      <th>Created</th>
      <th>Expire</th>
      <th>Days Left</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the list of expires -->
    <tr th:each="expiring : ${expires}">
      <!-- Display the properties of each expiring object -->
      <td th:text="${expiring.name}"></td>
      <td th:text="${expiring.productid}"></td>
      <td th:text="${expiring.created}"></td>
      <td th:text="${expiring.expire}"></td>
      <td th:text="${expiring.daysLeft}"></td>
    </tr>
    </tbody>
  </table>
</div>