<div th:fragment="logoBar(page)" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="container-fluid logo-row">
        <div class="row">
            <div class="col-md-2">
                <img src="/img/logo.jpg" alt="Leaf Food Logo" class="logo">
            </div>
            <div class="col col-md-1"></div>
            <div class="col col-md-7 d-flex align-items-end">
               <h1 th:text="${page}"></h1>
            </div>
            <div class="col col-md-2 d-flex flex-column">
                <span id="userID" class="pt-5" th:text="'User: '+ ${#authentication.name}"></span>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-danger mt-0" value="Sign Out"/>
                </form>
            </div>
        </div>
    </div>
</div>