<div th:fragment="sidebar(activeMenu)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" class="col-md-3">
  <nav class="sidebar">
    <button id="sidebarToggle" class="btn btn-warning py-0">&#9776;</button>
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item" th:classappend="${activeMenu == 'index' ? 'active' : ''}">
          <a class="nav-link" href="/index">Homepage</a>
        </li>
        <li class="nav-item" th:classappend="${activeMenu == 'stock' ? 'active' : ''}">
          <a class="nav-link" href="/stock/total">Stock</a>
        </li>
        <li class="nav-item" th:classappend="${activeMenu == 'preparation' ? 'active' : ''}">
          <a class="nav-link" href="/prep">Preparation</a>
        </li>
        <li class="nav-item" th:classappend="${activeMenu == 'solution' ? 'active' : ''}">
          <a class="nav-link" href="/chatquery">Recipe Ideas</a>
        </li>
        <li class="nav-item" th:classappend="${activeMenu == 'wastage' ? 'active' : ''}">
          <a class="nav-link" href="/wastage">Wastage</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ADMIN')" th:classappend="${activeMenu == 'users' ? 'active' : ''}">
          <a class="nav-link" href="/users/list">Users</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ADMIN')" th:classappend="${activeMenu == 'reports' ? 'active' : ''}">
          <a class="nav-link" href="/reports">Reports</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ADMIN')" th:classappend="${activeMenu == 'setup' ? 'active' : ''}">
          <a class="nav-link" href="/setup">Setup</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ADMIN')" th:classappend="${activeMenu == 'recipes' ? 'active' : ''}">
          <a class="nav-link" href="/recipes">Recipes</a>
        </li>
        <li class="nav-item" th:classappend="${activeMenu == 'sale' ? 'active' : ''}">
          <a class="nav-link" href="/sale">Sale</a>
        </li>
      </ul>
    </div>
  </nav>
</div>