<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC calendar page')}"/>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('Calendar')}"></div>
<div class="container-fluid">
    <div class="row bg">
        <div th:replace="~{fragments/sidebar :: sidebar('calendar')}"></div>
        <main class="col-md-8 px-md-3 cover">
            <div class="row">
                <div class="col col-sm-6 calendar-header">
                    <button id="prev" class="btn arrow-btn">&lt;</button>
                    <h4 id="monthYear"></h4>
                    <button id="next" class="btn arrow-btn">&gt</button>
                </div>
                <div class="col col-sm-6">
                    <select id="yearSelect" class="form-select mt-2"></select>

                    <input type="date">
                </div>


            </div>
            <div class="pt-5">
                     <div class="calendar-container">
                        <div id="calendarDays" class="d-flex flex-wrap"></div>
                    </div>
                </div>
            <form  action="#" th:action="@{/dayEvent/add}" method="POST" class="hidden" id="dayEventForm">
                <input type="hidden" id="date" name="date" value="#"> <!-- Ensure name matches class field -->

                    <div class="pt-5">
                        <label for="participants">Participants on event:</label>
                        <input type="number" id="participants" name="participants"/> <!-- Change name to match class field -->
                    </div>
                    <div class="pt-5">
                        <label for="note">Additional Notes:</label>
                        <textarea id="note" name="note" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3"> Update</button>



            </form>
        </main>
<!--        <div  th:each="event : ${dayEvents}">-->
<!--            <div th:id="${event.date}">-->
<!--                <p th:text="${event.note}"></p>-->
<!--                <p th:text="${event.participants}"></p>-->
<!--            </div>-->
<!--            <p th:text="${event.date}"></p>-->
<!--        </div>-->
    </div>
</div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script th:src="@{/scripts/calendar.js}"></script>
</body>

</html>