<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>SCORAC index page</title>
</head>
<body>
<div th:replace="~{fragments/logoBar :: logoBar}"></div>
<div class="container-fluid">
    <div class="row bg">
        <div th:replace="~{fragments/sidebar :: sidebar('calendar')}"></div>
        <main class="col-md-8 px-md-3 cover">
               <h1>Calendar</h1>
            <div class="row cover">
                <div class="col col-sm-6 calendar-header">
                    <button id="prev" class="btn arrow-btn">&lt;</button>
                    <h4 id="monthYear"></h4>
                    <button id="next" class="btn arrow-btn">&gt</button>
                </div>
                <div class="col col-sm-6">
                    <select id="yearSelect" class="form-select mt-2"></select>
                </div>


            </div>
            <div class="pt-5">
                     <div class="calendar-container">
                        <div id="calendarDays" class="d-flex flex-wrap"></div>
                    </div>
                </div>
            <form>
                <div class="pt-5">
                    <label for="event">Event participants:</label>
                    <input type="number" id="event"/>
                    <button class="btn btn-success">Add</button></br>
                </div>
                <div class="pt-5">
                    <label for="notes">Notes:</label>
                    <textarea id="notes" rows="4"></textarea>
                    <button type="submit" class="btn btn-primary"> Update</button>
                </div>
            </form>
        </main>
        <div class="col"></div>
    </div>
</div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script th:src="@{/scripts/calendar.js}"></script>
</body>

</html>