<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>SCORAC manage users</title>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments/logoBar :: logoBar"></div>
        <div class="row">
            <div th:replace="fragments/sidebar :: sidebar('users')"></div>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <h1>Edit User <span th:text="${user.username}"></span></h1>
                <form th:action="@{/users/updateuser}" th:object="${user}" method="post">

                   <input th:field="*{username}" type="hidden" name="username">

                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" th:field="*{password}" />

                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" th:field="*{name}" />

                    <label for="surname">Surname:</label>
                    <input type="text" id="surname" name="surname" th:field="*{surname}" />

                    <label for="position">Position:</label>
                    <input type="text" id="position" name="position" th:field="*{position}" />

                    <label for="role">Role:</label>
                    <select id="role" name="role">
                        <option value="ADMIN">ADMIN</option>
                        <option value="USER">USER</option>
                    </select>
                    <input type="submit" value="Update"/>
                </form>

                <form th:action="@{/users/delete/{username}(username=*{username})}" method="post">
                    <button type="submit" class="btn btn-danger">Delete User</button>
                </form>
            </main>
        </div>
    </div>
</body>
</html>