<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC index page')}"/>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('Home Page')}"></div>
<div class="container-fluid">
        <div class="row bg">
            <div th:replace="~{fragments/sidebar :: sidebar('index')}"></div>
            <main class="col-md-8 px-md-3 mt-5">
                <div class="row">
                    <div class="col col-sm-12 col-md-6 px-2 bg-light calendar-left">
                        <div class="calendar-header">
                            <button id="prev" class="btn arrow-btn">&lt</button>
                            <h4 id="monthYear"></h4>
                            <button id="next" class="btn arrow-btn">&gt</button>

                            <select id="yearSelect" class="form-select mt-2"></select>
                        </div>

                        <div class="calendar-container">
                            <div id="calendarDays" class="d-flex flex-wrap"></div>
                        </div>
                    </div>
                    <div class="col col col-md-4 col-sm-12 px-2 calendar-right">
                        <div class="row text-center pt-3">
                            <div class="col text-light">
                                <span class="text-center my-3 " th:text="${weather.description}"></span>
                                <img th:src="${weather.description == 'Sunny and warm' ? '/img/weather/sun.png' :
                                      weather.description == 'Rain' ? '/img/weather/rain.png' :
                                      weather.description == 'Thunderstorms' ? '/img/weather/thunder.png' :
                                      weather.description == 'Cloudy or overcast' ? '/img/weather/cloud.png' :
                                      weather.description == 'Snow' ? '/img/weather/snow.png' :
                                      weather.description == 'Fog' ? '/img/weather/fog.png' :
                                      '/img/weather/default.png'}" class="weatherImg" alt="Weather Image"/>
                                <span class="text-center my-3 ">20</span> &#8451;
<!--                                <span class="text-center my-3 text-light" th:text="${weather.description}"></span>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col greenbox" >

                                <p class="booking-number"><b>Today bookings:</b> </p>
                                <p class="today-notes"><b>Notes:</b> </p>
<!--                                <p class="greeting-id">The ID is <span th:text="${testId}"></span></p>-->
<!--                                <p class="greeting-content">The content is <span th:text="${testContent}"></span></p>-->
                                <a href="/editday" class="btn btn-success btn-sm" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/></svg>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div th:replace="~{fragments/expireTable :: expireTable}"></div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div th:if="${expires.isEmpty()}">
                            <p>There are items in stock that are about to expire</p>
                        </div>
                        <div th:if="${ not expires.isEmpty()}">
                            <p>If you don't have a plan but you dont want to waste it and check for <a href="/chatquery">Ideas</a></p>
                        </div>

                    </div>
                </div>
            </main>
            <div class="col"></div>
            </div>
        </div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
<script th:src="@{/scripts/calendar.js}"></script>
<script th:src="@{/scripts/todayInfo.js}"></script>
</body>

</html>