<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>SCORAC index page</title>
</head>
<body>
<div th:replace="~{fragments/logoBar :: logoBar}"></div>
<div class="container-fluid">
        <div class="row">
            <div th:replace="~{fragments/sidebar :: sidebar('index')}"></div>
            <main class="col-md-8 px-md-3">
                <h1>Mains</h1>
                <div class="row py-2">
                    <div class="col col-sm-12 col-md-6">

<!--                        Pictures must be added and logic tested-->

                        <div>
                            <p>Description: <span th:text="${weather.description}"></span></p>
<!--                            <p>Temperature: <span th:text="${weather.temperature}"></span> °C</p>-->
<!--                            <img th:src="${weather.description == 'rain' ? '@{/images/rain.jpg}' :-->
<!--                                          weather.description == 'sunny' ? '@{/images/sunny.jpg}' :-->
<!--                                          weather.description == 'cloudy' ? '@{/images/cloudy.jpg}' :-->
<!--                                          '@{/images/default.jpg}'}" alt="Weather Image"/>-->
                       </div>
                        <div class="card border-warrning border-2">
                            <div class="card-header"> Events</div>
                            <div class="card-body py-5">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet debitis error eveniet labore nulla ratione rerum! Aspernatur deleniti esse est mollitia nihil tenetur?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-md-6">
                        <div class="card border-warrning border-2 h-100">
                            <div class="card-header"> Notes</div>
                            <div class="card-body py-5 px-3">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet debitis error eveniet labore nulla ratione rerum! Aspernatur deleniti esse est mollitia nihil tenetur?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="py-2">Product near expire date:</h4>
                        <table> <!-- Adding border="1" to visualize the table borders -->
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                            </tr>
                            <tr>
                                <td>Row 1, Cell 1</td>
                                <td>Row 1, Cell 2</td>
                            </tr>
                            <tr>
                                <td>Row 2, Cell 1</td>
                                <td>Row 2, Cell 2</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="py-2">Orders:</h4>
                            <div th:each="order, orderStat : ${orders}" class="accordion-item">
                                <h2 class="accordion-header" th:id="'heading' + ${orderStat.index}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${orderStat.index}" aria-expanded="true" th:aria-controls="'collapse' + ${orderStat.index}">
                                        Order ID: <span th:text="${order.orderId}"></span>
                                    </button>
                                </h2>
                                <div th:id="'collapse' + ${orderStat.index}" class="accordion-collapse collapse" th:classappend="${orderStat.index == 0} ? 'show'" th:aria-labelledby="'heading' + ${orderStat.index}" data-bs-parent="#ordersAccordion">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                            <li th:each="line : ${order.orderLines}" class="list-group-item">
                                                Line ID: <span th:text="${line.lineId}"></span>,
                                                Item Name: <span th:text="${line.itemName}"></span>,
                                                Quantity: <span th:text="${line.quantity}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div class="col"></div>
            </div>
        </div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>

</html>