<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC index page')}"/>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('Home Page')}"></div>
<div class="container-fluid">
        <div class="row bg img-fluid">
            <div th:replace="~{fragments/sidebar :: sidebar('index')}"></div>
            <main class="col-md-8 px-md-3 mt-5">
                <div class="row">
                    <div class="col px-2 bg-light calendar-left">
                        <div class="calendar-header">
                            <button id="prev" class="btn arrow-btn">&lt;</button>
                            <h4 id="monthYear"></h4>
                            <button id="next" class="btn arrow-btn">&gt</button>

                            <select id="yearSelect" class="form-select mt-2"></select>
                        </div>

                        <div class="calendar-container">
                            <div id="calendarDays" class="d-flex flex-wrap"></div>
                        </div>
                    </div>
                    <div class="col col col-md-4 col-sm-12 px-2 calendar-right">
                        <div class="row">
                            <div class="col ">
                                <h5 class="text-center my-3 text-light greenbox-header" th:text="${weather.description}"></h5>
                            </div>
                            <div class="col text-end">
                                <img th:src="${weather.description == 'Sunny and warm' ? '/img/weather/sun.png' :
                                      weather.description == 'Rain' ? '/img/weather/rain.png' :
                                      weather.description == 'Thunderstorms' ? '/img/weather/thunder.png' :
                                      weather.description == 'Cloudy or overcast' ? '/img/weather/cloud.png' :
                                      weather.description == 'Snow' ? '/img/weather/snow.png' :
                                      weather.description == 'Fog' ? '/img/weather/fog.png' :
                                      '/img/weather/default.png'}" class="weatherImg" alt="Weather Image"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col greenbox" >

                                <p class="booking-number"><b>Today bookings:</b> </p>
                                <p class="today-notes"><b>Notes:</b> </p>
<!--                                <p class="greeting-id">The ID is <span th:text="${testId}"></span></p>-->
<!--                                <p class="greeting-content">The content is <span th:text="${testContent}"></span></p>-->
                                <a href="/editday" class="btn btn-success btn-sm" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16"><path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/></svg>
                                    Edit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col">
                        <h4 class="py-2">Product near expire date:</h4>
                        <table> <!-- Adding border="1" to visualize the table borders -->
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                            </tr>
                            <tr>
                                <td>Row 1, Cell 1</td>
                                <td>Row 1, Cell 2</td>
                            </tr>
                            <tr>
                                <td>Row 2, Cell 1</td>
                                <td>Row 2, Cell 2</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row mt-5">
                        <div class="col">
                            <h4 class="py-2">Orders:</h4>
                            <div th:each="order, orderStat : ${orders}" class="accordion-item">
                                <h2 class="accordion-header" th:id="'heading' + ${orderStat.index}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse' + ${orderStat.index}" aria-expanded="true" th:aria-controls="'collapse' + ${orderStat.index}">
                                        Order ID: <span th:text="${order.orderId}"></span>
                                    </button>
                                </h2>
                                <div th:id="'collapse' + ${orderStat.index}" class="accordion-collapse collapse" th:classappend="${orderStat.index == 0} ? 'show'" th:aria-labelledby="'heading' + ${orderStat.index}" data-bs-parent="#ordersAccordion">
                                    <div class="accordion-body">
                                        <ul class="list-group">
                                            <li th:each="line : ${order.orderLines}" class="list-group-item">
                                                Line ID: <span th:text="${line.lineId}"></span>,
                                                Item Name: <span th:text="${line.itemName}"></span>,
                                                Quantity: <span th:text="${line.quantity}"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
            <div class="col"></div>
            </div>
        </div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
<script th:src="@{/scripts/calendar.js}"></script>
<script th:src="@{/scripts/todayInfo.js}"></script>
</body>

</html>