<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC new order')}"/>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('New Order')}"></div>
<div class="container-fluid">
    <div class="row bg">
        <div th:replace="~{fragments/sidebar :: sidebar('orders')}"></div>
        <main class="col-md-8 px-md-3 mt-4">
            <form th:action="@{/submitOrder}" th:object="${order}" method="post">
                <div th:each="orderProduct, iterStat : *{orderProducts}">
                    <div>
                        <select th:field="*{orderProducts[__${iterStat.index}__].product.productId}">
                            <option value="">Choose a product</option>
                            <option th:each="product : ${availableProducts}"
                                    th:value="${product.productId}"
                                    th:text="${product.name}">
                            </option>
                        </select>
                        <input type="number" th:field="*{orderProducts[__${iterStat.index}__].quantity}" min="0"/>
                    </div>
                </div>
                <button type="submit">Submit Order</button>
            </form>
        </main>
        <div class="col"></div>
    </div>
</div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>