<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC query chatGPT')}"/>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('Search for ideas')}"></div>
<div class="container-fluid">
    <div class="row bg">
        <div th:replace="~{fragments/sidebar :: sidebar('solution')}"></div>
        <main class="col-md-8 px-md-3 mt-4">
            <div class="row">
                <div th:replace="~{fragments/expireTable :: expireTable('Select from products:','false')}"></div>
            </div>
            <div class="row mt-5">
                <div class="col col-md-6 mt-3">
                    <div class="my-3">
                        <label for="additionalPrompt">Additional Prompt:</label></br>
                        <textarea id="additionalPrompt" name="additionalPrompt" rows="2" class="w-100" maxlength="200"></textarea>
                    </div>
                </div>
                <div class="col col-md-3 mt-4 ml-1">
                    <table id="selectedNamesTable" class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Selected names will be dynamically added here -->
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row mt-5">
                <div class="col">
                    <button id="chatqueryButton" class="btn btn-success">Send Request</button>
                </div>
            </div>


        </main>
        <div class="col"></div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

<div class="modal fade" id="prompt" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"> <!-- Corrected class name -->
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Idea List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="respondWindow"> </div>
        </div>
    </div>
</div>


</div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script th:src="@{/scripts/chatGPT.js}"></script>
</body>
</html>