<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>SCORAC query chatGPT</title>
</head>
<body>
<div th:replace="~{fragments/logoBar :: logoBar}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar('solution')}"></div>
        <main class="col-md-8 px-md-3">
            <div> gpt</div>
        </main>
        <div class="col"></div>
    </div>
</div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>