<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC recipe list')}"/>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('Recipes')}"></div>
<div class="container-fluid">
    <div class="row bg">
        <div th:replace="~{fragments/sidebar :: sidebar('recipes')}"></div>
        <main class="col-md-8 px-md-3 mt-4">
            <div class="row">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-secondary col" th:href="@{newrecipe}">Add New Recipe</a>
                        <a class="btn btn-primary col" th:href="@{newproduct}">Products</a>
                    </div>
                </div>
                <div class="col mt-5">
                    <input type="text" id="searchInput" class="form-control mb-3 textfield" placeholder="Search for recipe...">
                    <h6>Recipes:</h6>
                    <ul id="itemsList" class="list-group">
                        <!-- Iterate over the list of recipes -->
                        <li th:each="recipe : ${recipe}" class="list-group-item p-4 m-1">
                            <!-- Display the name of each recipe -->
                            <a class="recipelink" th:href="@{'/recipes/recipe/' + ${recipe.recipeId}}" th:text="${recipe.name}"></a>
                        </li>
                    </ul>
                </div>


                </div>

        </main>
        <div class="col"></div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById('searchInput');
        const recipeList = document.getElementById('recipeList').getElementsByTagName('li');

        searchInput.addEventListener('keyup', function() {
            const searchText = searchInput.value.toLowerCase();

            // Iterate over the recipe list and filter
            for (let i = 0; i < recipeList.length; i++) {
                const recipeLink = recipeList[i].getElementsByClassName('recipelink')[0];
                const recipeName = recipeLink.textContent || recipeLink.innerText;
                if (recipeName.toLowerCase().indexOf(searchText) > -1) {
                    recipeList[i].style.display = "";
                } else {
                    recipeList[i].style.display = "none";
                }
            }
        });
    });
</script>
</body>
</html>