<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC new recipe')}"/>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('Add Recipe')}"></div>
<div class="container-fluid">
    <div class="row bg">
        <div th:replace="~{fragments/sidebar :: sidebar('recipes')}"></div>
        <main class="col-md-8 px-md-3 mt-4">
            <div class="row">
                <div class="col col-md-4 mt-5">
                    <input type="text" id="searchInput" class="form-control mb-3 textfield" placeholder="Search items...">
                    <ul id="itemsList" class="list-group">
                        <li th:each="itemName, iterStat : ${itemsName}" th:id="'item-' + ${iterStat.index}" th:text="${itemName}" class="list-group-item"></li>
                    </ul>
                </div>
                <di class="col col-md-1 blank"></di>
                <div class="col col-md-4 mt-5 ml-4 showform">
                    <form th:action="@{/addRecipe}" th:object="${recipe}"  method="post">
                        <div class="longlist">
                            <input type="text" class="textfield form-control" placeholder="Recipe Name.." name="name">
                            <input type="text" class="hidden"  name="user">
                            <table id="targetTable">
                                <colgroup>
                                    <col style="width: 75%;">
                                    <col style="width: 25%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity (kg/l)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Rows will be appended here -->
                                </tbody>
                            </table>
                        </div>
                        <textarea type="text" class="mt-3" style="height: 100px; width: 100%"></textarea>
                        <input type="submit" value="Submit" class="btn btn-success mt-3">
                    </form>
                </div>
            </div>
        </main>
        <div class="col"></div>
    </div>
</div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script th:src="@{/scripts/formPopulator.js}"></script>
    <script th:src="@{/scripts/listUpdate.js}"></script>
</body>
</html>