<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC recipe list')}"/>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('Recipes')}"></div>
<div class="container-fluid">
    <div class="row bg">
        <div th:replace="~{fragments/sidebar :: sidebar('recipes')}"></div>
        <main class="col-md-8 px-md-3 mt-4">
            <div class="row">
                <div class="row">
                    <div class="col">
                        <a class="btn btn-secondary col" href="newrecipe">Add New Recipe</a>
                        <a class="btn btn-primary col" href="newproduct">Products</a>
                    </div>
                </div>
                <div class="col mt-5">
                    <input type="text" id="searchInput" class="form-control mb-3 textfield" placeholder="Search for recipe...">
                    <h6>Recipes:</h6>
                    <ul class="list-group">
                        <!-- Iterate over the list of recipes -->
                        <li th:each="recipe : ${recipe}" class="list-group-item p-4 m-2">
                            <!-- Display the name of each recipe -->
                            <a class="recipelink" th:href="@{'/recipe/' + ${recipe.recipeId}}" th:text="${recipe.name}"></a>
                        </li>
                    </ul>
                </div>


                </div>

        </main>
        <div class="col"></div>
    </div>
</div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
<script>
    // Capture click event on recipe names
    $('.list-group').on('click', 'li', function() {
        // Extract recipe ID from the ID attribute
        var recipeId = $(this).attr('id').split('-')[1];
        // Construct the URL with the recipe ID
        var url = 'recipe/' + recipeId;
        // Navigate user to the URL
        window.location.href = url;
        });
</script>
</body>
</html>