<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC reports')}"/>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('Reports')}"></div>
<div class="container-fluid">
    <div class="row bg">
        <div th:replace="~{fragments/sidebar :: sidebar('reports')}"></div>
        <main class="col-md-8 px-md-3 mt-4">
            <div class="row">
                <!-- Card 1 -->
                <div class="col-md-4 mb-4">
                    <a th:href="@{/reports/prediction}">
                        <div class="card reportBth">
                            <div class="card-body text-center d-flex justify-content-center align-items-center">
                                <img th:src="@{/img/icons/prediction.png}" class="card-img" alt="Prediction">
                                <div class="overlay">Prediction</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <a th:href="@{/reports/sale}">
                        <div class="card reportBth">
                            <div class="card-body text-center d-flex justify-content-center align-items-center">
                                <img th:src="@{/img/icons/sale.png}" class="card-img-top" alt="Sale">
                                <div class="overlay">Sale</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <a th:href="@{/reports/waste}">
                        <div class="card reportBth">
                            <div class="card-body text-center d-flex justify-content-center align-items-center">
                                <img th:src="@{/img/icons/waste.png}" class="card-img-top" alt="Waste">
                                <div class="overlay">Waste</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </main>
        <div class="col"></div>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>