<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>SCORAC reports page</title>
</head>
<body>
<div th:replace="~{fragments/logoBar :: logoBar}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar('reports')}"></div>
        <main class="col-md-9 px-md-3">
                <div> reports</div>
            </main>
        </div>
    </div>

    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>