<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>SCORAC index page</title>
</head>
<body>
<div th:replace="~{fragments/logoBar :: logoBar}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar('setup')}"></div>
        <main class="col-md-8 px-md-3">
            <h1>Setup</h1>
            <form th:action="@{/users/updateuser}" th:object="${user}" method="post" class="mt-3">
                <div class="my-3">
                    <label for="restaurantName">Restaurant Name:</label>
                    <input class="textfield" type="text" id="restaurantName" name="restaurantName" placeholder="Your restaurant name">
                </div>

                <div class="my-3">
                    <label for="api">ChatGPT API:</label>
                    <input class="textfield" type="text" id="api" name="api">
                </div>

                <!-- Updated div for the text area with class="my-3" for consistent spacing -->
                <div class="my-3">
                    <label for="additionalInfo">Information about Restaurant:</label></br>
                    <textarea id="additionalInfo" name="additionalInfo" rows="4"></textarea>
                </div>

                <div class="my-3">
                    <label for="forumLink">Link to Forum:</label>
                    <input class="textfield" type="text" id="forumLink" name="forumLink">
                </div>

                <div class="my-3">
                    <input type="submit" value="Update" class="btn btn-primary">
                </div>
            </form>

        </main>
        <div class="col"></div>
    </div>
</div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>

</html>