<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC stock')}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('Stock')}"></div>
<div class="container-fluid">
    <div class="row bg">
        <div th:replace="~{fragments/sidebar :: sidebar('stock')}"></div>
        <main class="col-md-8 px-md-3 mt-5">
             <table class="table mt-5" id="all-table">
                    <thead class="thead-dark">
                    <th>Name</th>
                    <th>Type</th>
                    <th>Weight</th>
                    <th>Cost </th>
                    <th>Other</th>
                    </thead>
                </table>
        </main>
        <div class="col"></div>
    </div>
</div>

   <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script th:src="@{/scripts/dataTable.js}"></script>
</body>
</html>