<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SCORAC stock level</title>
</head>
<body>
<div th:replace="~{fragments/logoBar :: logoBar}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar('stock')}"></div>
        <main class="col-md-8 px-md-3">
                <h1>Stock</h1>
                <table class="table" id="all-table">
                    <thead class="thead-dark">
                    <th>Name</th>
                    <th>Type</th>
                    <th>Weight</th>
                    <th>Cost </th>
                    <th>Other</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                            <td/>
                        </tr>
                    </tbody>
                </table>
        </main>
        <div class="col"></div>
    </div>
</div>

   <div th:replace="~{fragments/scripts :: scripts}"></div>
    <script th:src="@{/scripts/dataTable.js}"></script>
</body>
</html>