<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <meta charset="UTF-8">
    <title>SCORAC manage users</title>
</head>
<body>
<div th:replace="~{fragments/logoBar :: logoBar}"></div>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{fragments/sidebar :: sidebar('users')}"></div>
        <main class="col-md-9 px-md-3">
            <h1>User List</h1>
            <a href="/index" class="btn btn-secondary">Back</a>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col">
                    <div th:if="${successMessage}" th:text="${successMessage}"></div>

                            <!-- Card for each user -->
                            <div th:each="user : ${list}" class="col-12 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Name and Surname in the top row -->
                                        <div class="row mb-2">
                                            <div class="col-6">
                                                Name: <span th:text="${user.name}">Name</span>
                                            </div>
                                            <div class="col-6">
                                                Surname: <span th:text="${user.surname}">Surname</span>
                                            </div>
                                        </div>
                                        <!-- Position and Role in the second row -->
                                        <div class="row mb-2">
                                            <div class="col-6">
                                                Position: <span th:text="${user.position}">Position</span>
                                            </div>
                                            <div class="col-6">
                                                Role: <span th:text="${user.role}">Role</span>
                                            </div>
                                        </div>
                                        <!-- Edit button aligned to the right -->
                                        <div class="d-flex justify-content-end">
                                            <a th:href="@{/users/edit/{username}(username=${user.username})}" class="btn btn-primary userEdit">Edit</a>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <div>
                        <a id="newUser" class="btn btn-secondary col" href="newuser">Add New User</a>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>