<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC add new user')}"/>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('Add New User')}"></div>
<div class="container-fluid">
    <div class="row bg">
        <div th:replace="~{fragments/sidebar :: sidebar('users')}"></div>
        <main class="col-md-8 px-md-3 mt-5">
            <div class="row py-2">
                <div class="col col-md-1">
                    <a href="/users/list" class="btn btn-secondary ">Back</a>
                </div>
            </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col">
                        <div class="top alert alert-danger" th:if="${error != null}">User already exist!</div>
                        <form action="#" th:action="@{/users/adduser}" method="post">
                            <label for="username">Username:</label>
                            <input type="text" id="username" class="textfield form-control" name="username" required/><br/>

                            <label for="password">Password:</label>
                            <input type="password" id="password" class="textfield form-control" name="password" required/><br/>

                            <label for="name">Name:</label>
                            <input type="text" id="name" class="textfield form-control" name="name" required/><br/>

                            <label for="password">Surname:</label>
                            <input type="text" id="surname" class="textfield form-control" name="surname" required/><br/>

                            <label for="position">Position:</label>
                            <input type="text" id="position" class="textfield form-control" name="position" required/><br/>

                            <label for="role">Role:</label></br>
                            <select id="role" name="role" class="textfield form-control p-1">
                                 <option value="ADMIN">ADMIN</option>
                                 <option value="USER">USER</option>
                            </select>
                            <br/>
                            <br/>

                            <button class="btn btn-primary submit" type="submit">Register</button>
                        </form>
                    </div>
                </div>
        </main>
        <div class="col"></div>
    </div>
</div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>