<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header('SCORAC wastage')}"/>
<body>
<div th:replace="~{fragments/logoBar :: logoBar('Wastege')}"></div>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{fragments/sidebar :: sidebar('wastage')}"></div>
            <main class="col-md-8 px-md-3">
                <div class="row">
                    <div class="col col-md-6">
                        <!-- <form id="namesForm" th:action="@{/submitNames}" method="post"-->
                        <!-- Dynamically added fields will go here -->
                        <button class="btn btn-success" type="submit">Submit</button>
<!--                        </form>-->
                    </div>
                    <div class="col col-md-4 col-sm-12 mt-5">
                        <input type="text" id="searchInput" class="form-control mb-3 textfield" placeholder="Search items...">
                        <ul id="itemsList" class="list-group">
                            <li th:each="itemName, iterStat : ${itemsName}" th:id="'item-' + ${iterStat.index}" th:text="${itemName}" class="list-group-item"></li>
                        </ul>
                    </div>
                </div>
            </main>
            <div class="col"></div>
        </div>
    </div>

<div class="modal fade" id="waste" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"> <!-- Corrected class name -->
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Waste report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur ducimus eaque eum facere in iste perferendis possimus repellat sit!</p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>

</html>