<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>SCORAC index page</title>
</head>
<body>
<div th:replace="~{fragments/logoBar :: logoBar}"></div>
    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{fragments/sidebar :: sidebar('wastage')}"></div>
            <main class="col-md-8 px-md-3">
                    <h1>Wastage</h1>
                <div class="row">
                    <div class="col col-md-6">
<!--                        <form action="#" th:action="@{/users/adduser}" method="post">-->
                            <label for="username">Username:</label>
                            <input  type="text" id="username" name="username"/><br/>

                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password"/><br/>

                            <label for="password">Name:</label>
                            <input type="text" id="name" name="name"/><br/>

                            <label for="password">Surname:</label>
                            <input type="text" id="surname" name="surname"/><br/>

                            <label for="password">Position:</label>
                            <input type="text" id="position" name="position" /><br/>


                            <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#waste">Add</button>
<!--                        </form>-->
                    </div>
                    <div class="col mt-5">
                            <input type="text" id="searchInput" class="form-control mb-3" placeholder="Search items...">

                            <ul id="itemsList" class="list-group">
<!--                                <li th:each="item : ${itemProducts}" th:text="${item}" class="list-group-item"></li>-->
                                <li>12</li>
                                <li>11</li>
                                <li>10</li>
                                <li>9</li>
                                <li>1</li>
                                <li>7</li>
                                <li>6</li>
                                <li>5</li>
                                <li>4</li>
                                <li>3</li>
                            </ul>
                    </div>
                </div>
            </main>
            <div class="col"></div>
        </div>
    </div>

<div class="modal fade" id="waste" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"> <!-- Corrected class name -->
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Waste report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur ducimus eaque eum facere in iste perferendis possimus repellat sit!</p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
    <div th:replace="~{fragments/scripts :: scripts}"></div>
</body>

</html>